#paraWel{
text-align:center;
font-size:50px;
color:green;
}


#getStarted{
font-size:35px;
text-decoration:none;
background-color:lightgreen;
}

#getStarted:hover{
background-color:yellow;
}


#pic1{
position:relative;
bottom:190px;
left:1px;
}

#pic2{
position:relative;
bottom:190px;
left:570px;
border-radius:15px;
}

a{
margin-left:10px;
border:1px solid green;
padding:5px;
border-radius:8px;
text-decoration:none;
background-color:lightyellow;


}
a:hover{
background-color:yellow;
}


.hide{
display:none;
}

#bankHeading{
text-align:center;
color:green;
}


input:focus{
background-color:yellow;

}

input{
height:32px;
width:180px;
border-radius:8px;
position:relative;
bottom:150px;
left:10px;
padding-left:8px;
border:1px solid green;
}


marquee{
background-color:lightgreen;
border-radius:11px;
}


#welcome-heading{
color:green;
}







#chqNum{
position:relative;
bottom:360px;
left:615px;
//border:1px solid blue;
width:160px;
font-size:18px;
}




#payTo{
position:relative;
left:70px;
bottom:320px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrds{
position:relative;
left:90px;
bottom:320px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:450px;
height:90px;
//display:inline-block;
}

#amt{
position:relative;
left:538px;
bottom:410px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcode{
position:relative;
left:23px;
bottom:320px;
font-family:MICR;
font-size:15px;
}



#container{
//border: 1px solid red;
width:900px;
}


#btn{
background-color:lightgreen;
color:red;
font-size:21px;
height:32px;
border-radius:8px;
position:relative;
bottom:150px;
left:10px;
}



























#chqNumbrMbl{
position:relative;
bottom:339px;
left:675px;
//border:1px solid blue;
width:160px;
font-size:17px;
letter-spacing:1px;
}


#payToMbl{
position:relative;
left:53px;
bottom:294px;
font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsMbl{
position:relative;
left:70px;
bottom:293px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:450px;
height:90px;
//display:inline-block;
}

#amtMbl{
position:relative;
left:515px;
bottom:415px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodeMbl{
position:relative;
left:23px;
bottom:320px;
font-family:MICR;
font-size:15px;
}



#container{
//border: 1px solid red;
width:900px;
}


#btnMbl{
background-color:lightgreen;
color:red;
font-size:21px;
height:32px;
border-radius:8px;
position:relative;
bottom:150px;
left:10px;

}




























#chqNumHbl{
position:relative;
bottom:350px;
left:570px;
//border:1px solid blue;
width:160px;
font-size:16px;
letter-spacing:1px;
}




#payToHbl{
position:relative;
left:87px;
bottom:300px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsHbl{
position:relative;
left:103px;
bottom:301px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:414px;
height:90px;
//display:inline-block;
}

#amtHbl{
position:relative;
left:485px;
bottom:420px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodeHbl{
position:relative;
left:50px;
bottom:325px;
font-family:MICR;
font-size:13px;
}



#containerHbl{
//border: 1px solid red;
width:900px;
}


#btn{
background-color:lightgreen;
color:red;
font-size:21px;
height:32px;
border-radius:8px;
position:relative;
bottom:150px;
left:10px;
}

























#chqNumHmb2{
position:relative;
bottom:358px;
left:615px;
//border:1px solid blue;
width:160px;
font-size:18px;
}




#payToHmb2{
position:relative;
left:70px;
bottom:320px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsHmb2{
position:relative;
left:90px;
bottom:320px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:450px;
height:90px;
//display:inline-block;
}

#amtHmb2{
position:relative;
left:530px;
bottom:407px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodeHmb2{
position:relative;
left:25px;
bottom:320px;
font-family:MICR;
font-size:15px;
}




























#chqNumHmb3{
position:relative;
bottom:358px;
left:615px;
//border:1px solid blue;
width:160px;
font-size:18px;
}




#payToHmb3{
position:relative;
left:70px;
bottom:320px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsHmb3{
position:relative;
left:90px;
bottom:320px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:450px;
height:90px;
//display:inline-block;
}

#amtHmb3{
position:relative;
left:530px;
bottom:407px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodeHmb3{
position:relative;
left:25px;
bottom:320px;
font-family:MICR;
font-size:15px;
}






















#chqNumnbp1{
position:relative;
bottom:351px;
left:610px;
//border:1px solid blue;
width:160px;
font-size:16px;
letter-spacing:2px;
}




#payTonbp1{
position:relative;
left:50px;
bottom:305px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsnbp1{
position:relative;
left:70px;
bottom:303px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:445px;
height:90px;
//display:inline-block;
}

#amtnbp1{
position:relative;
left:470px;
bottom:417px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodenbp1{
position:relative;
left:25px;
bottom:329px;
font-family:MICR;
font-size:14px;
}




















#chqNumdib{
position:relative;
bottom:337px;
left:610px;
//border:1px solid blue;
width:160px;
font-size:16px;
letter-spacing:1px;
}




#payTodib{
position:relative;
left:50px;
bottom:293px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsdib{
position:relative;
left:70px;
bottom:291px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:445px;
height:90px;
//display:inline-block;
}

#amtdib{
position:relative;
left:465px;
bottom:409px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodedib{
position:relative;
left:25px;
bottom:321px;
font-family:MICR;
font-size:14px;
}



















#chqNumabl{
position:relative;
bottom:357px;
left:598px;
//border:1px solid blue;
width:160px;
font-size:16px;
letter-spacing:1px;
}




#payToabl{
position:relative;
left:50px;
bottom:310px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsabl{
position:relative;
left:70px;
bottom:309px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:445px;
height:90px;
//display:inline-block;
}

#amtabl{
position:relative;
left:465px;
bottom:424px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodeabl{
position:relative;
left:25px;
bottom:321px;
font-family:MICR;
font-size:14px;
}




















#chqNumdib06{
position:relative;
bottom:346px;
left:610px;
//border:1px solid blue;
width:160px;
font-size:16px;
letter-spacing:1px;
}




#payTodib06{
position:relative;
left:40px;
bottom:293px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdsdib06{
position:relative;
left:60px;
bottom:291px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:445px;
height:90px;
//display:inline-block;
}

#amtdib06{
position:relative;
left:460px;
bottom:414px;
font-size:25px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodedib06{
position:relative;
left:25px;
bottom:321px;
font-family:MICR;
font-size:14px;
}













#chqNumsbl{
position:relative;
bottom:351px;
left:575px;
//border:1px solid blue;
width:160px;
font-size:15px;

}




#payTosbl{
position:relative;
left:67px;
bottom:310px;

font-family:Arial Narrow;
font-size:30px;
margin:0;
//border:1px solid red;
width:650px;
//text-transform:capitalize;

}

#amtWrdssbl{
position:relative;
left:85px;
bottom:309px;
//padding-top:3px;
//padding-left:90px;
font-family:Arial Narrow;
font-size:24px;
margin:0;
//border:1px solid red;
width:445px;
height:90px;
//display:inline-block;
}

#amtsbl{
position:relative;
left:495px;
bottom:421px;
font-size:22px;
margin-bottom:10px;
padding-left:65px;
width:200px;
height:50px;
font-family:Arial Narrow;
//border:1px solid red;
}

#barcodesbl{
position:relative;
left:35px;
bottom:318px;
font-family:MICR;
font-size:14px;
}